.nav {
  width: 100%;
  height: 45px;
  display: flex;
  position: fixed;
  top: 0;
  background-color: rgb(28, 31, 31);
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 50px;
}

.nav__options {
  display: flex;
  margin: 10px;
  justify-content: flex-end;
  text-decoration: none;
}
.search-bar-false {
  visibility: hidden;
  color: aliceblue;
}
.search-bar-true {
  visibility: visible;
  width: 700px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid turquoise;
  text-indent: 10px;
  padding: 4px;
  color: azure;
  font-size: 16px;
  transition: ease-in;
}
.exit-options {
  padding-right: 20px;
  color: white;
  transition: transform 140ms;
}
.exit-options:hover {
  color: aquamarine;
  transform: scale(1.08);
}
.menu-options {
  /* padding-right: 20px; */
  color: white;
  transition: transform 140ms;
}
.menu-options :hover {
  color: aquamarine;
  transform: scale(1.08);
}
@media (max-width: 720px) {
  .nav {
    background-color: rgb(28, 31, 31);
    /* height: 100px; */
  }
  .nav__content {
    position: fixed;
    top: 60px;
  }
  .search-bar-true {
    width: 300px;
  }
}
