.row {
  color: #eee;
  margin-left: 20px;
  margin-top: 50px;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 200px;
  margin-right: 10px;
  transition: transform 150ms;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster:hover {
  transform: scale(1.08);
}

.row__loadmore {
  width: 140px;
  height: 100px;
  margin-top: 50px;
  transition: transform 150ms;
}

.row__loadmore:hover {
  transform: scale(1.08);
}

.load__more {
  width: 100px;
  height: 200px;
  justify-content: center;
  background-color: rgb(28, 29, 29);
}

.load__more > p {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  cursor: alias;
}
