.total {
  font-size: 5vh;
  margin-top: 3vh;
}
.more__buttons {
  margin-top: 30px;
  width: 100%;
  display: flex;
  position: static;
  flex-direction: column;
}
.bottom_button {
  margin-left: 85vh;
  justify-content: center;
  margin-bottom: 30px;
}
.bottom_button > button {
  margin-right: 30px;
  color: rgb(0, 0, 0);
  border: none;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 40px;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  transition: transform 250ms;
}
.bottom_button > button:hover {
  transform: scale(1.08);
  font-size: 16px;
  font-weight: 800;
}
.bottom_button .mypage {
  margin-left: 65px;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 600;
}
.bottom_button .total {
  margin-left: 20px;
  margin-top: 5px;
  font-weight: 600;
}
.options {
  margin-top: 7vh;
  height: 70vh;
  overflow-y: scroll;
  display: flex;
  position: fixed;
  top: 8px;
  border-left: 2px solid black;
  border-bottom: 4px solid black;
  left: 165vh;
  text-decoration: none;
  background-color: rgb(28, 31, 31);
}

.options ul {
  list-style: none;
  margin-top: 10px;
  float: left;
  text-decoration: none;
}
.options li:hover {
  background-color: rgb(63, 63, 62);
  cursor: pointer;
  transform: scale(1.08);
}
.options > ul > li {
  width: 100%;
  transition: transform 150ms;
  padding: 20px;
}
.options .link:hover,
.genres-avail > li:hover {
  color: aqua;
}
.genres-avail > li {
  width: 100%;
  color: white;
  transition: transform 150ms;
  padding: 20px;
}
@media (max-width: 720px) {
  .options {
    top: 5px;
    left: 50vh;
  }
}

@media (max-width: 1200) {
  .options {
    left: 50vh;
  }
}
.app {
  max-width: 100%;
}
.app-true {
  width: 80%;
}
