.landing__inner {
  position: fixed;
  top: 0;
  padding: 20vh;
  margin-left: 12vh;
  width: 150vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.76);
}
.landing__inner .Down {
  width: auto;
  height: auto;
  color: rgb(0, 252, 130);
}
.landing__info {
  color: #00f7ff;
  font-size: 4vh;
  text-align: center;
}
.button-btn {
  background-color: #00000036;
  border: 10px solid #7c9da7;
  text-decoration: none;
  padding: 1px 20px;
  height: 50px;
  font-size: 3vh;
  color: aliceblue;
  width: 70%;
  margin-right: 20px;
  transition: transform 150ms;
  box-shadow: 0 0 5px 1px #5ec6e3;
  border-style: hidden;
}

.button-btn:hover {
  background-color: blanchedalmond;
  color: rgb(0, 0, 0);
  transform: scale(1.08);
}
