.register {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #3c3d41;
  color: #111111;
}

.register__space {
  position: fixed;
  width: 30%;
  border: 1px solid #111111;
  height: 72vh;
  overflow-y: scroll;
  overflow-x: scroll;
  background-color: #ffffffc5;
  margin-top: 90px;
  box-shadow: 10px -10px 10px 1px #111;
  align-self: center;
}
@media (max-width: 720px) {
  .register {
    background-color: brown;
  }
  .register__space {
    width: 70%;
    overflow-y: hidden;
    overflow: scroll;
  }
}
@media (max-width: 1200px) {
  .register__space {
    overflow-y: hidden;
    overflow: scroll;
  }
  .register__content > form {
    margin-left: -25px;
  }
  .register__space {
    width: 340px;
  }
}
.register__header {
  font-size: 40px;
  margin-top: 10px;
  font-style: bold;
  margin-bottom: 5px;
  text-align: center;
}

.register__content {
  margin-left: 65px;
  display: flex;
}

.register__line {
  font-size: 12px;
  color: #3c3d41;
  font-weight: bold;
  margin-bottom: 5px;
}

.register__input {
  width: 120%;
  margin-top: 2px;
  height: 30px;
  margin-bottom: 15px;
  border: none;
  transition: transform 350ms;
  border-radius: 10px;
  text-indent: 10px;
  background-color: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.487);
}

.register__input:hover,
.register__button:hover {
  background-color: #000000c5;
  font-weight: 600;
  transform: scale(1.08);
  color: aliceblue;
}

.register__button {
  margin-left: 70px;
  margin-top: 10px;
  transition: transform 150ms;
}
.register__submit {
  width: 150px;
  text-align: center;
  border: none;
  border-style: hidden;
  box-shadow: 0 0 1px 1px #00b2df;
  background-color: #00ff95ec;
  height: 30px;
}

.register__loginLink {
  margin-top: 20px;
  text-decoration: none;
  color: black;
  transition: transform 150ms;
  text-align: center;
  margin-left: 70px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.register__loginLink:hover {
  transform: scale(1.28);
}
