.trend {
  display: flex;
  flex-direction: column;
  background-color: burlywood;
}
.trend > header {
  width: 100%;
  height: 40px;
  position: fixed;
  background-color: tomato;
}
.trend > header > p {
  float: right;
  padding: 10px;
}

.trend__button {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 45%;
  left: 37%;
}
.trend__button > button {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 30px;
}

.trend__button > button:hover {
  border-bottom: 1px solid rgb(23, 22, 24);
}

.more__button {
  display: flex;
  position: sticky;
  justify-content: center;
}
.more__button > footer > button {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 20px;
  margin-left: 40px;
}

.trend__movies > img {
  width: 200px;
  height: 300px;
  padding: 10px;
  border-radius: 20px;
  margin-top: 40px;
  margin-left: 2px;
  transition: transform 150ms;
}
.trend__movies > img:hover {
  transform: scale(1.01);
  box-shadow: 0 0 1px 1 px #ffffff;
}
