.top {
  display: flex;
  flex-direction: column;
  background-color: rgb(44, 44, 48);
}
.top > header {
  width: 100%;
  height: 40px;
  position: fixed;
  background-color: tomato;
}

.top > header > p {
  float: right;
  padding: 10px;
}

.top__button {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 45%;
  left: 37%;
}
.top__button > button {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 30px;
}

.top__button > button:hover {
  border-bottom: 1px solid rgb(107, 30, 180);
}

.more__button {
  display: flex;
  position: sticky;
  margin-bottom: 20px;
  justify-content: center;
}
.more__button > footer > button {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 20px;
  margin-left: 40px;
  transition: transform 150ms;
}
.top__movies {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 5%;
  background-color: rgba(0, 0, 0, 0.568);
  justify-content: center;
  margin-top: 40px;
}

.top__movies .list-item {
  width: 20%;
  width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.top__movies .list-item img {
  display: block;
  height: 270px;
  width: 100%;
  transition: transform 200ms;
}
.top__movies .list-item img:hover {
  transform: scale(1.08);
  border-radius: 20px;
  box-shadow: 1px 1px 10px 1px #eeeeee;
}
.top__movies .list-item div {
  width: 100%;
  display: flex;
  height: 10vh;
  background-color: rgb(0, 0, 0);
}
.top__movies .list-item h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  overflow-x: scroll;
  padding: 10px;
  flex: 1 1 100%;
  transition: 0.4 ease-out;
}
.top__movies .list-item h3:hover {
  background-color: #fff;
  color: #223323;
}
.top__movies .list-item .liked {
  margin-left: 20px;
  background-color: none;
}
.top__movies .list-item .liked:hover {
  color: aqua;
}
.top__movies .list-item .liked :nth-child(1):hover {
  color: red;
}
.more__button > footer :hover {
  transform: scale(1.18);
}
