.landing {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}

.landing__background {
  width: 90%;
  margin-left: 5%;
  height: 100vh;
  max-height: 100vh;
  background-color: rgb(205, 213, 216);
}
.landing__intro {
  width: 100%;
  margin: 200px 10px;
  text-align: center;
}
.landing__intro > h1 {
  text-shadow: 2px 2px #111;
  font-size: 72px;
}
.landing__intro > p {
  color: rgb(255, 0, 0);
  text-shadow: 1px 1px;
  font-size: 14px;
}
.landing__intro p:hover {
  color: blue;
}

.landing__button {
  margin-top: 20px;
  height: 45px;
  background-color: #5ec6e3;
  border: 2px solid black;
  border-radius: 10px;
  width: 150px;
  box-shadow: 0 0 10px 10px rgb(211, 211, 211);
  transition: transform 150ms;
}
.landing__button:hover {
  transform: scale(1.08);
  box-shadow: 0 0 10px 2px #bbaacc;
}
