.landing {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}

.landing__background {
  width: 90%;
  margin-left: 5%;
  height: 100vh;
  max-height: 100vh;
  background-color: rgba(205, 213, 216, 0.274);
}
.landing__intro {
  width: 100%;
  margin: 200px 10px;
  text-align: center;
  transition: transform 150ms;
}
.landing__intro > h1 {
  text-shadow: 2px 2px rgb(255, 5, 5);
  font-size: 72px;
  margin-bottom: 20px;
  transition: transform 150ms;
}
.landing__intro:hover,
.landing__intro > h1:hover,
.landing__button:hover {
  transform: scale(1.1);
}
.landing__intro > p {
  color: rgb(255, 0, 0);
  text-shadow: 1px 1px;
  margin-bottom: 20px;
  font-size: 14px;
}
.landing__intro p:hover {
  color: rgb(7, 0, 0);
}

.landing__button {
  transform: scale(1.08);
  background-color: #ffffff36;
  border: 10px solid #5ec6e3;
  text-decoration: none;
  padding: 1px 20px;
  margin-right: 10px;
  height: 30px;
  color: rgb(0, 136, 255);
  margin-top: 10px;
  transition: transform 150ms;
  box-shadow: 0 0 5px 1px #5ec6e3;
  border-style: hidden;
}
