.login {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #3c3d41;
  height: 100vh;
}

.login__space {
  position: fixed;
  top: 10;
  width: 30%;
  border: 1px solid #111111;
  height: 72vh;
  background-color: #ffffffc5;
  margin-top: 90px;
  box-shadow: 10px -10px 10px 1px #111;
  align-self: center;
}
@media (max-width: 720px) {
  .login {
    background-color: brown;
  }
  .login__space {
    width: 70%;
    overflow-y: hidden;
    overflow: scroll;
  }
  .login__components {
    margin-left: -25%;
  }
}
@media (max-width: 1200px) {
  .login__space {
    overflow-y: hidden;
    overflow: scroll;
  }
}
.login__header {
  font-size: 30px;
  margin-top: 10px;
  font-style: bold;
  margin-bottom: 10px;
  text-align: center;
}

.login__components {
  padding: 20px;
  margin-left: 25px;
  display: flex;
}

.login__line1,
.login__line2 {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
}

.login__input {
  width: 92%;
  margin-top: 2px;
  height: 30px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  text-indent: 10px;
  transition: transform 450ms;
  background-color: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.487);
}
.login__input:hover {
  transform: scale(1.08);
  background-color: #000000c5;
  box-shadow: 0 0 10px 1px #4864b1;
  font-weight: 600;
  color: aliceblue;
}

.login__submit {
  width: 150px;
  border: none;
  transition: transform 150ms;
  border-style: hidden;
  box-shadow: 0 0 1px 1px #00b2df;
  background-color: #00ff95ec;
  height: 30px;
}

.login__submit:hover {
  transform: scale(1.08);
  box-shadow: 0 0 10px 1px #4864b1;
}

.login__button {
  text-align: center;
  margin-right: 45px;
}
.login__button > p {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Button */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 10em;  */
  /* margin: 0.2em;
  padding: 0 25px 0 46px; */
  width: 10em;
  margin: 5px;
  padding: 2px 46px;
  border: none;
  text-align: left;
  border-radius: 30px;
  border: 1px solid rgb(158, 158, 158);
  line-height: 30px;
  white-space: nowrap;
  font-size: 16px;
  color: #fff;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
.loginBtn--facebook {
  background-color: #4c69ba;
  background-image: linear-gradient(#4c69ba, #3b55a0);
  font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-shadow: 0 -1px 0 #354c8c;
  color: rgb(255, 255, 255);
  margin-left: 0;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5b7bd5;
  box-shadow: 0 0 10px 1px #4864b1;

  background-image: linear-gradient(#5b7bd5, #4864b1);
}

/* Google */
.loginBtn--google {
  font-family: "Roboto", Roboto, arial, sans-serif;
  background-image: linear-gradient(#fd4c35, #ff1e00b2);
  /* background: #ff1e00; */
}
.loginBtn--google:before {
  border-right: #bb3f30 1px solid;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #fa513b;
  box-shadow: 0 0 10px 1px #4864b1;
}

/* Twitter */
.loginBtn--twitter {
  margin-left: 0;
  background-color: #28d6d6;
  background-image: linear-gradient(#00eaff, #00fff2ec);
  font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-shadow: 0 -1px 0 #0098f0;
  color: rgb(255, 255, 255);
}
.loginBtn--twitter:before {
  border-right: #364e92 1px solid;
}
.loginBtn--twitter:hover,
.loginBtn--twitter:focus {
  box-shadow: 0 0 10px 1px #4864b1;

  background-color: #00d9ff;
  background-image: linear-gradient(#00b2df, #00ccff);
}

/* Github */
.loginBtn--github {
  /* background-color: #4C69BA; */
  background-image: linear-gradient(#121316, #151516c5);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  /* text-shadow: 0 -1px 0 #354C8C; */
  color: rgb(255, 255, 255);
}
.loginBtn--github:before {
  border-right: 1px solid;
}
.loginBtn--github:hover,
.loginBtn--github:focus {
  box-shadow: 0 0 10px 1px #4864b1;

  background-color: #1c1d20;
  background-image: linear-gradient(#44464e, #515255);
}
.login__registerlink {
  color: #0098f0;
  text-decoration: none;
  margin-top: 38px;
}

.login__registerlink > p {
  text-decoration: none;
}
