.register {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #3c3d41;
  color: #111111;
}

.register__space {
  position: fixed;
  width: 30%;
  border: 1px solid #111111;
  height: 72vh;
  background-color: #ffffffc5;
  margin-top: 90px;
  box-shadow: 10px -10px 10px 1px #111;
  align-self: center;
}

.register__header {
  font-size: 30px;
  margin-top: 10px;
  font-style: bold;
  margin-bottom: 10px;
  text-align: center;
}

.register__content {
  padding: 20px;
  margin-left: 25px;
  display: flex;
}

.register__line {
  font-size: 12px;
  color: #3c3d41;
  font-weight: bold;
  margin-bottom: 5px;
}

.register__input {
  width: 120%;
  margin-top: 2px;
  height: 30px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  text-indent: 10px;
  background-color: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.487);
}

.register__input:hover {
  background-color: #000000c5;
  font-weight: 600;
  color: aliceblue;
}

.register__button {
  margin-left: 70px;
  margin-top: 10px;
}

.register__submit {
  width: 150px;
  text-align: center;
  border: none;
  border-style: hidden;
  box-shadow: 0 0 1px 1px #00b2df;
  background-color: #00ff95ec;
  height: 30px;
}

.register__loginLink {
  margin-top: 20px;
  text-decoration: none;
  color: black;
}

.register__loginLink {
  text-align: center;
  margin-left: 70px;
  margin-top: 30px;
}
