.romance {
  display: flex;
  flex-direction: column;
  background-color: rgb(44, 44, 48);
}
.romance > header {
  width: 100%;
  height: 40px;
  position: fixed;
  background-color: tomato;
}

.romance > header > p {
  float: right;
  padding: 10px;
}

.romance__button {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 45%;
  left: 37%;
}
.romance__button > button {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 30px;
}

.romance__button > button:hover {
  border-bottom: 1px solid rgb(107, 30, 180);
}

.more__button {
  display: flex;
  position: sticky;
  margin-bottom: 20px;
  justify-content: center;
}
.more__button > footer > button {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 20px;
  margin-left: 40px;
  transition: transform 150ms;
}
.romance__movies > img {
  width: 200px;
  height: 300px;
  padding: 10px;
  border-radius: 20px;
  margin-top: 40px;
  margin-left: 2px;
  transition: transform 150ms;
}
.romance__movies > img:hover {
  transform: scale(1.08);
}

.more__button > footer :hover {
  transform: scale(1.18);
}
