.result {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 40px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  color: white;
  top: 0px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.856);
}
.button {
  position: fixed;
  width: auto;
  height: auto;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.534);
}
.button:hover {
  cursor: pointer;
}
.inner__space {
  width: 192vh;
  max-width: 100%;
  height: 90vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.445);
}
.result__image {
  width: 90vh;
  height: 90vh;
  object-fit: contain;
}
.button__div {
  width: auto;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.397);
  margin-top: 70vh;
}
.button__div > .event {
  width: 20vh;
  padding: 12px;
  margin-left: 15vh;
  text-align: center;
}
.event:hover {
  cursor: pointer;
}
.result__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 90vh;
  background-color: rgb(0, 0, 0);
  overflow-y: scroll;
}

.result__title {
  width: auto;
  margin-left: 2vh;
  margin-bottom: 2vh;
  font-size: 4vh;
  color: rgb(0, 255, 98);
  font-family: sans-serif;
}
.result__overview {
  margin-left: 2vh;
}
.tagline {
  font-size: 3vh;
  margin-bottom: 2vh;
}
.sub-title {
  font-size: 4vh;
  color: rgb(0, 255, 115);
  margin-bottom: 2vh;
}
.res__content {
  text-indent: 2vh;
  font-size: 3vh;
  margin-bottom: 2vh;
}
.result__genre {
  width: auto;
  height: auto;
  margin-left: 2vh;
}
.genre {
  font-size: 4vh;
  margin-bottom: 2vh;
  color: rgb(0, 255, 115);
}
.genre__list {
  text-indent: 2vh;
  font-size: 3vh;
  margin-bottom: 2vh;
}
.production {
  font-size: 4vh;
  margin-bottom: 2vh;
  color: rgb(0, 255, 115);
}
.production__list {
  text-indent: 2vh;
  font-size: 3vh;
  margin-bottom: 2vh;
}

.additional__info {
  width: auto;
  display: flex;
  flex-direction: row;
  margin-left: 2vh;
}

.additional__one {
  width: 100%;
  max-height: 30vh;
  overflow-y: scroll;
}
.additional__two {
  width: 100%;
  height: 30vh;
  overflow-y: scroll;
}
.title {
  font-size: 4vh;
  margin-bottom: 2vh;

  color: rgb(0, 255, 115);
}
.content {
  font-size: 3vh;
  margin-bottom: 2vh;
  text-indent: 2vh;
}
