/*LANDING PAGE*/

body{
  background-color: rgba(0, 0, 0, 0.678);
}

.Header{
    text-align: center;
    position: absolute;
    top: 20%;
    left: 30%;
    /* transform: translate(-50%,50%); */
}

.Header .body h1{
    color: rgb(157, 255, 0);
    font-size: 50px;
    font-weight: 400; 
    margin-bottom: 10px;
}

.body p {
    font-weight: lighter;
    font-size: 30px;
    color: rgb(0, 170, 255);
}
.Header button {
    color: greenyellow;
    background: black;
    padding: 12px 32px;
    border: none;
    border-radius: 20px;
}

.Header a {
    color: #01d277;
}

@media (max-width: 610px){
    .Header{
        left: 12%;
        text-align: center;
    }
    .Header h1{
        text-align: center;
        width: 300px;
        /* float: right; */
    }
    .Header .p {
        text-align: center;
        width: 200px;
    }
}
/* Sign-up Page*/
.Signup {
    width: 30%;
    background-color: #ffffff;
    height: 99vh;
    border:0.5px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 100px 10px rgb(26, 25, 25);
    position: absolute;
    /* top: 10%; */
    left: 35%;
}
.Signup h1{
    font-size: 30px;
    /* float: left; */
    margin-left: 30px;
    font-weight: lighter;
}

.inputBox {
    margin-left: 30px;
}

.Signup .inputBox p {
  font-size: 12px;
  font-weight: 500;
}

.inputBox input {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    text-indent: 0.100in;
    width: 200px;
    border-bottom-left-radius: 10px;
    height: 30px;
}
.inputBox input:hover ,
.inputBox input:active{
  background: rgb(217, 240, 215);
  border-top-left-radius: 10px;
  height: 30px;
  width: 300px;
  font-weight: bold;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.buttons button{
    margin-left: 30px;
    margin-top: 20px;
    height: 30px;
    font-weight: 900;
    padding: 0 3em;
    border: 1px solid black;
    border-radius: 20px;
}

@media (max-width: 610px){
    .Signup{
        width: 60%;
        left: 22%;
    }
}
@media (min-width: 1080px){
    .Signup {
        width: 30%;
        left: 35%;
        height: 96vh;
    }
}

/*Login Page*/
.login {
    width: 30%;
    height: 80vh;
    position: absolute;
    box-shadow: 0px 0px 100px 10px rgb(26, 25, 25);
    left: 34.5%;
    margin-top: 70px;
    background-color: #eee;
}

.login > p {
    font-size: 25px;
}
.inputBox-login {
  font-size: 16px;
    margin-left: 30px;
}
.login-button {
    margin-left: 30px;
    margin-top: 30px;
}

.inputBox-login  input{
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30px;
    width: 250px;
}
.buttons button {
  background-color: rgb(187, 180, 180);
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);

}


/* Shared */
.loginBtn {
    box-sizing: border-box;
    position: relative;
    width: 10em; 
    margin: 0.2em;
    padding: 0 25px 0 46px;
    border: none;
    text-align: left;
    border: 1px solid rgb(158, 158, 158);
    line-height: 30px;
    white-space: nowrap;
    font-size: 16px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  
  /* Facebook */
  .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-shadow: 0 -1px 0 #354C8C;
    color: rgb(255, 255, 255);
  }
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }
  
  
  /* Google */
  .loginBtn--google {
    font-family: "Roboto", Roboto, arial, sans-serif;
    background-image: linear-gradient(#fd4c35,#ff1e00b2);
    /* background: #ff1e00; */
  }
  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #fa513b;
  }

  /* Twitter */
  .loginBtn--twitter {
    background-color: #28d6d6;
    background-image: linear-gradient(#00eaff, #00fff2ec);
    font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-shadow: 0 -1px 0 #0098f0;
    color: rgb(255, 255, 255);
  }
  .loginBtn--twitter:before {
    border-right: #364e92 1px solid;
  }
  .loginBtn--twitter:hover,
  .loginBtn--twitter:focus {
    background-color: #00d9ff;
    background-image: linear-gradient(#00b2df, #00ccff);
  }
  
    /* Github */
    .loginBtn--github {
        /* background-color: #4C69BA; */
        background-image: linear-gradient(#121316, #151516c5);
        /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
        /* text-shadow: 0 -1px 0 #354C8C; */
        color: rgb(255, 255, 255);
      }
      .loginBtn--github:before {
        border-right:  1px solid;
      }
      .loginBtn--github:hover,
      .loginBtn--github:focus {
        background-color: #1c1d20;
        background-image: linear-gradient(#44464e, #515255);
      }

@media (max-width : 610px){
    .login{
        width: 70%;
        left: 17%;
        top: 0;
        height: 85vh;
        position: absolute;
    }
}

@media (max-width : 1080px){
    .login{
        width: 70%;
        left: 17%;
        position: absolute;
    }
}