.search-bar input{
    position: absolute;
    left: 400px;
    width: 500px;
    text-indent: 0.25in;
    font-weight: lighter bold;
    background: transparent;
}

body {
    background: rgb(0, 0, 0);
}