#root {
  margin: 0;
  padding: 0;
}
#root::-webkit-scrollbar {
  display: none;
}
.nav ul {
  list-style: none;
  text-align: center;
  float: right;
}

.nav ul li {
  display: inline;
  margin: 10px;
  font-size: 16px;
  border: none;
  color: #01d277;
  padding: 10px;
}

* {
  margin: 0;
}
*::-webkit-scrollbar {
  display: none;
}
body {
  background-color: rgb(44, 44, 48);
}
